RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
Options -Indexes

<Files ~ "\.(log|htaccess)$">
deny from all 
</Files>
<Files ~ "\.(php)$">
deny from all
</Files>
<Files ~ "\.(js|html|css)$">
allow from all
</Files>
<Files ~ "^(request|index).php$">
allow from all
</Files>
